{% extends 'base.html.twig' %}

{% block title %}Войти в аккаунт{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}
{% block body %}

    <div id="logreg-forms">
        <form class="form-signin" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Войти</h1>
            <div class="social-login">
                <button onclick="location.href='{{ path('connect_facebook') }}'" class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Войти через Facebook</span> </button>
                <button onclick="location.href='{{ path('connect_google') }}'" class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Войти через Google</span> </button>
            </div>
            <p style="text-align:center"> ИЛИ  </p>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="example@mail.com" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Войти</button>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button onclick="location.href='{{ path('register') }}'" class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Зарегистрироваться</button>
        </form>
        <br>
    </div>

{#    <form method="post">#}
{#        {% if error %}#}
{#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#        {% endif %}#}

{#        <h1 class="h3 mb-3 font-weight-normal">Войти в аккаунт</h1>#}
{#        <label for="inputEmail" class="sr-only">Электронная почта</label>#}
{#        <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="example@mail.com" required autofocus>#}
{#        <label for="inputPassword" class="sr-only">Пароль</label>#}
{#        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>#}

{#        <input type="hidden" name="_csrf_token"#}
{#               value="{{ csrf_token('authenticate') }}"#}
{#        >#}

{#        #}{##}
{#            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#            See https://symfony.com/doc/current/security/remember_me.html#}
{#    #}
{#            <div class="checkbox mb-3">#}
{#                <label>#}
{#                    <input type="checkbox" name="_remember_me"> Remember me#}
{#                </label>#}
{#            </div>#}
{#        #}

{#        <button class="btn btn-lg btn-primary" type="submit">#}
{#            Войти#}
{#        </button>#}

{#        <div><a href="{{ path('register') }}">Регистрация</a></div>#}
{#        <a href="{{ path('connect_google') }}">Войти через Google</a><br>#}
{#        <a href="{{ path('connect_facebook') }}">Войти через Facebook</a><br>#}
{#    </form>#}
{% endblock %}
