{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

    <div id="logreg-forms">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Регистрация</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Зарегистрироваться</button>
    </div>
{% endblock %}
