<form method="post" action="{{ path('device_delete', {'id': device.id}) }}" onsubmit="return confirm('Точно удалить устройство?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ device.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
