{% extends 'base.html.twig' %}

{% block title %}{{ device.name }}{% endblock %}

{% block body %}
    <div id="add-forms">
        <h3 class="h3 mb-3 font-weight-normal" style="text-align: center">Редактирование</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('device_index') }}">Вернуться в список</a>
        {{ include('device/_form.html.twig', {'button_label': 'Обновить'}) }}
    </div>

{% endblock %}
