{% extends 'base.html.twig' %}

{% block title %}Устройства{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">Список устройств</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Производитель</th>
                <th>Тип</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td><a href="{{ path('device_show', {'id': device.id}) }}">{{ device.name }}</td>
                <td><a href="{{ path('company_show', {'id': device.company.id}) }}">{{ device.company.name }}</a></td>
                <td>{{ device.typeDevice }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <button class="btn btn-primary" onclick="location.href='{{ path('device_edit', {'id': device.id}) }}'">Редактировать</button>
                        {{ include('device/_delete_form.html.twig') }}
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Устройства еще не добавлены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-success" onclick="location.href='{{ path('type_device_new') }}'">Добавить новый тип устройств</button>
        <button class="btn btn-primary" onclick="location.href='{{ path('device_new') }}'">Добавить новое устройство</button>
    {% endif %}
    </div>
{% endblock %}
