{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Устройства{% endblock %}

{% block body %}
    <div id="add-forms">
        <h3 class="h3 mb-3 font-weight-normal" style="text-align: center">Создание устройства</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('device_index') }}">Вернуться в список</a>
        {{ include('device/_form.html.twig') }}
    </div>
{% endblock %}
