{% extends 'base.html.twig' %}

{% block title %} {{ device.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">{{ device.name }}</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Производитель</th>
                <td><a href="{{ path('company_show', {'id': device.company.id}) }}">{{ device.company.name }}</a></td>
            </tr>
            <tr>
                <th>Тип</th>
                <td>{{ device.typeDevice }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ device.description }}</td>
            </tr>
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
            <button class="btn btn-primary" onclick="location.href='{{ path('device_edit', {'id': device.id}) }}'">Редактировать</button>
            {{ include('device/_delete_form.html.twig') }}
        {% endif %}

        <a href="{{ path('device_index') }}">Вернуться к списку</a>
    </div>
{% endblock %}
