<form method="post" action="{{ path('user_device_delete', {'id': user_device.id}) }}" onsubmit="return confirm('Точно удалить устройство?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_device.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
