{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.company) }}
    {{ form_row(form.device) }}
    {{ form_row(form.description) }}
    {{ form_row(form.house) }}
    {{ form_row(form.room) }}
    {{ form_row(form.switch) }}
    <button class="btn btn-primary btn-block">{{ button_label|default('Сохранить') }}</button>
<a href="{{ path('profile_device', {'id': app.user.id}) }}">Вернуться в список</a>
{{ form_end(form) }}

<script>
    var $house = $('#user_device_house');
    var $company = $('#user_device_company');
    $house.change(function() {
        var $form = $(this).closest('form');
        var data = {};
        data[$house.attr('name')] = $house.val();
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                $('#user_device_room').replaceWith(
                    $(html).find('#user_device_room')
                );
            }
        });
    });
    
    $company.change(function() {
        var $form = $(this).closest('form');
        var data = {};
        data[$company.attr('name')] = $company.val();
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                $('#user_device_device').replaceWith(
                    $(html).find('#user_device_device')
                );
            }
        });
    });
</script>
