{% extends 'base.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal" style="text-align: center">Устройства в комнате {{ room.name }}</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Состояние</th>
            </tr>
            <tbody>
            {% for user_device in room.userDevices %}
                <tr>
                    <th><a href="{{ path('user_device_show', {'id': user_device.id}) }}">{{ user_device.name }}</a></th>
                    <td>
                        {% if user_device.switch %}
                            <div onclick="f(this)" id="{{ user_device.id }}" class="switch-btn switch-on"></div>
                        {% else %}
                            <div onclick="f(this)" id="{{ user_device.id }}" class="switch-btn switch-off"></div>
                        {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-primary"
                                onclick="location.href='{{ path('user_device_edit', {'id': user_device.id}) }}'">
                            Изменить устройство
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="3">Устройств пока нет</th>
                </tr>
                <tr>
                    <th colspan="3"><a href="{{ path('user_device_new') }}">Добавить устройство</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function f(device) {
            $.ajax({
                method: 'POST',
                url : "/user/device/" + device.id + "/changeSwitch"
            }).done($(device).toggleClass('switch-on'));
        }
    </script>
{% endblock %}
