{% extends 'base.html.twig' %}

{% block title %}{{ user_device.name }}{% endblock %}

{% block body %}
    <div id="add-forms">
        <h3 class="h3 mb-3 font-weight-normal" style="text-align: center">Редактирование</h3>
        {{ include('user_device/_form.html.twig', {'button_label': 'Обновить'}) }}
    </div>
{% endblock %}
