{% extends 'base.html.twig' %}

{% block title %}UserDevice index{% endblock %}

{% block body %}
    <h1>UserDevice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Switch</th>
                <th>Toggle</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_device in user_devices %}
            <tr>
                <td>{{ user_device.id }}</td>
                <td>{{ user_device.name }}</td>
                <td>{{ user_device.switch ? 'Yes' : 'No' }}</td>
                <td>{{ user_device.toggle }}</td>
                <td>{{ user_device.description }}</td>
                <td>
                    <a href="{{ path('user_device_show', {'id': user_device.id}) }}">show</a>
                    <a href="{{ path('user_device_edit', {'id': user_device.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_device_new') }}">Create new</a>
{% endblock %}
