{% extends 'base.html.twig' %}

{% block title %}UserDevice{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">{{ user_device.name }}</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Название</th>
                <td>{{ user_device.name }}</td>
            </tr>
            <tr>
                <th>Состояние</th>
                <td>{{ user_device.switch ? 'Включен' : 'Выключен' }}</td>
            </tr>
            <tr>
                <th>Тип устройства</th>
                <td>{{ user_device.device.typeDevice }}</td>
            </tr>
            <tr>
                <th>Модель</th>
                <td>{{ user_device.device }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ user_device.description }}</td>
            </tr>
            </tbody>
        </table>

        {% if (app.user == user_device.author) %}
            <button class="btn btn-primary" onclick="location.href='{{ path('user_device_edit', {'id': user_device.id}) }}'">Обновить устройство</button>
{#            {{ include('user_device/_delete_form.html.twig') }}#}
        {% endif %}

    <br><a href="{{ path('mainPage') }}">На главную</a>

    </div>
{% endblock %}
