<form method="post" action="{{ path('room_delete', {'id': room.id}) }}" onsubmit="return confirm('Точно удалить комнату?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
