{% extends 'base.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <div id="add-forms">
        <h3 class="h3 mb-3 font-weight-normal" style="text-align: center">Редактирование</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('house_roomsByHouse', {'id': app.user.id}) }}">Вернуться в список</a>
        {{ include('room/_form.html.twig', {'button_label': 'Обновить'}) }}
    </div>
{% endblock %}
