{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Комнаты{% endblock %}

{% block body %}
    <div id="add-forms">
        <h3 class="h3 mb-3 font-weight-normal" style="text-align: center">Создание комнаты</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('room_index') }}">Вернуться в список</a>
        {{ include('room/_form.html.twig') }}
    </div>
{% endblock %}
