{% extends 'base.html.twig' %}

{% block title %}Комнаты{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">Комнаты в доме {{ house.name }}</h3>
        <table class="table">
            <tbody>
            {% for room in house.rooms %}
                <tr>
                    <th>{{ room.name }}</th>
                    <td>
                        Количество устройств в комнате: {{ room.userDevices.count }}
                        <br><a href="{{ path('house_devicesByRooms', {'idH': house.id, 'id': room.id}) }}">Подробнее</a>
                    </td>
                    <td>
                        {% if (app.user == house.author) %}
                            <button class="btn btn-primary" onclick="location.href='{{ path('room_edit', {'id': room.id}) }}'">Изменить комнату</button>
                            {{ include('house/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="3">Комнат пока нет, подождите, пока владелец дома их добавит</th>
                </tr>
                {% if (app.user == house.author) %}
                <tr>
                    <th colspan="3"><a href="{{ path('room_new', {'id': app.user.id, 'house': house.id}) }}">Добавить</a></th>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('house_show', {'id': house.id}) }}">Вернуться к дому</a>
    </div>
{% endblock %}
