{% extends 'base.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">{{ room.name }}</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>{{ room.name }}</th>
                <td>
                    Количество устройств в комнате: {{ room.userDevices.count }}
                    <br>Включенных: {{ room.onUserDevices }}
                    <br><a href="{{ path('house_devicesByRooms', {'idH': house.id, 'id': room.id}) }}">Подробнее</a>
                </td>
                <td>
                    {% if (app.user == room.author) %}
                        <button class="btn btn-primary" onclick="location.href='{{ path('room_edit', {'id': room.id}) }}'">Изменить комнату</button>
                        {{ include('house/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        {% if (app.user == house.author) %}
            <button class="btn btn-primary" onclick="location.href='{{ path('room_edit', {'id': room.id}) }}'">Обновить комнату</button>
            {{ include('room/_delete_form.html.twig') }}
        {% endif %}

        <a href="{{ path('room_index') }}">Вернуться к списку</a>
    </div>
{% endblock %}
