<form method="post" action="{{ path('house_delete', {'id': house.id}) }}" onsubmit="return confirm('Точно удалить дом?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ house.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
