{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    <label>Комнаты</label>
    <ul class="rooms" data-prototype="{{ form_widget(form.rooms.vars.prototype)|e('html_attr') }}">
        {% for room in form.rooms %}
            <li>{{ form_row(room) }}</li>
        {% endfor %}
    </ul>

    <button class="btn btn-primary btn-block">{{ button_label|default('Создать') }}</button>
    <a href="{{ path('profile_house_list', {'id': app.user.id}) }}">Вернуться в список</a>
{{ form_end(form) }}

<script>
    var $collectionHolder;
    var $addRoomButton = $('<button class="btn btn-success btn-block" type="button""></i>Добавить комнату</button>');
    var $newLinkLi = $('<li></li>').append($addRoomButton);

    jQuery(document).ready(function() {

        $collectionHolder = $('ul.rooms');

        $collectionHolder.find('li').each(function() {
            addRoomFormDeleteLink($(this));
        });

        $collectionHolder.append($newLinkLi);

        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addRoomButton.on('click', function(e) {
            addRoomForm($collectionHolder, $newLinkLi);
        });
    });

    function addRoomForm($collectionHolder, $newLinkLi) {

        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');
        var newForm = prototype;

        console.log(newForm);

        newForm = newForm.replace(/__name__/g, index);
        console.log(newForm);


        $collectionHolder.data('index', index + 1);

        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
        addRoomFormDeleteLink($newFormLi);
    }

    function addRoomFormDeleteLink($roomFormLi) {
        var $removeFormButton = $('<button class="btn btn-danger" type="button">Удалить комнату</button>');
        $roomFormLi.append($removeFormButton);

        $removeFormButton.on('click', function(e) {
            $roomFormLi.remove();
        });
    }
</script>