{% extends 'base.html.twig' %}

{% block title %}{{ house.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">{{ house.name }}</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Название</th>
                <td>{{ house.name }}</td>
            </tr>

{#            <tr>#}
{#                <th>Количество жителей дома</th>#}
{#                <td>{{ house.users.count }}</td>#}
{#                <td><a href="{{ path('house_adduser', {'id': house.id}) }}">Подробнее</a></td>#}
{#            </tr>#}
            <tr>
                <th>Количество комнат</th>
                <td>{{ house.rooms.count }}</td>
                <td><a href="{{ path('house_roomsByHouse', {'id': house.id}) }}">Подробнее</a></td>
            </tr>
            <tr>
                <th>Количество устройств</th>
                <td>{{ house.userDevices.count }}</td>
{#                <td><a href="{{ path('user_device_index', {'id': house.id}) }}">Подробнее</a></td>#}
            </tr>
            </tbody>
        </table>

        {% if (app.user == house.author) %}
            <button class="btn btn-primary" onclick="location.href='{{ path('house_edit', {'id': house.id}) }}'">Обновить дом</button>
{#            {{ include('house/_delete_form.html.twig') }}#}
        {% endif %}

        <a href="{{ path('profile_house_list', {'id': app.user.id}) }}">Вернуться к списку</a>
    </div>
{% endblock %}
