<form method="post" action="{{ path('company_delete', {'id': company.id}) }}" onsubmit="return confirm('Точно удалить компанию?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>