{% extends 'base.html.twig' %}

{% block title %} {{ company.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Список устройств от {{ company.name }}</h1>
        <table class="table">
            <tbody>
            {% for device in company.device %}
                <tr>
                <td>
                    <a href="{{ path('device_show', {'id': device.id}) }}">{{ device.name }}</a>
                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Устройства еще не добавлены</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <a href="{{ path('company_index') }}">Вернуться к списку компаний</a>
    </div>
{% endblock %}
