{% extends 'base.html.twig' %}

{% block title %}Компании{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">Список компаний</h3>
        <table class="table">
            <tbody>
            {% for company in companies %}
                <tr>
                    <td><a href="{{ path('company_show', {'id': company.id}) }}">{{ company.name }}</a></td>
                    <td><a href="{{ path('company_devices', {'id': company.id}) }}">Посмотреть устройства компании</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <button class="btn btn-primary" onclick="location.href='{{ path('company_edit', {'id': company.id}) }}'">Редактировать</button>
                             {{ include('company/_delete_form.html.twig', {'id': company.id}) }}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Компании еще не добавлены</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
            <button class="btn btn-primary" onclick="location.href='{{ path('company_new') }}'">Добавить компанию</button>
        {% endif %}
    </div>
{% endblock %}
