{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}

    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">{{ company.name }}</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Описание</th>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <td><a href="{{ path('company_devices', {'id': company.id}) }}">Посмотреть устройства компании</a></td>
            </tr>
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
            <button class="btn btn-primary" onclick="location.href='{{ path('company_new') }}'">Добавить компанию</button>
            {{ include('company/_delete_form.html.twig', {'id': company.id}) }}
        {% endif %}

        <a href="{{ path('company_index') }}">Вернуться к списку компаний</a>
    </div>
{% endblock %}
