<form method="post" action="{{ path('type_device_delete', {'id': type_device.id}) }}" onsubmit="return confirm('Точно удалить тип?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_device.id) }}">
    <button class="btn">Удалить</button>
</form>
