{% extends 'base.html.twig' %}

{% block title %}Типы{% endblock %}

{% block body %}
    <h1>Список типов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for type_device in type_devices %}
            <tr>
                <td><a href="{{ path('type_device_show', {'id': type_device.id}) }}"> {{ type_device.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('type_device_edit', {'id': type_device.id}) }}">Редактировать</a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Типы еще не добавлены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('type_device_new') }}">Добавить новый тип</a>
    {% endif %}
{% endblock %}
