{% extends 'base.html.twig' %}

{% block title %}{{ type_device.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">{{ type_device.name }}</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Название</th>
                <td>{{ type_device.name }}</td>
            </tr>
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('type_device_edit', {'id': type_device.id}) }}">Редактировать</a>
            {{ include('type_device/_delete_form.html.twig') }}
        {% endif %}

        <a href="{{ path('device_index') }}">Вернуться к списку компаний</a>
    </div>
{% endblock %}
