{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">Мои устройства</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Дом</th>
                <th>Комната</th>
                <th>Состояние</th>
                <th> </th>
            </tr>
            </thead>
                <tbody>
                {% for house in user.houses %}
                    {% for device in house.userDevices %}
                        <tr>
                            <td><a href="{{ path('user_device_show', {'id': device.id}) }}">{{ device.name }}</a></td>
                            <td><a href="{{ path('house_show', {'id': house.id}) }}">{{ house.name }}</a></td>
                            <td>{{ device.room.name }}</td>
                            <td>
                                {% if device.switch %}
                                    <div onclick="f(this)" id="{{ device.id }}" class="switch-btn switch-on"></div>
                                {% else %}
                                    <div onclick="f(this)" id="{{ device.id }}" class="switch-btn switch-off"></div>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th colspan="3">Домов пока нет.</th>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="3"><a href="{{ path('user_device_new') }}">Добавить устройство</a></th>
                </tr>
                </tbody>
            </table>
    </div>

    <script>
        function f(device) {
            $.ajax({
                method: 'POST',
                url : "/user/device/" + device.id + "/changeSwitch"
            }).done($(device).toggleClass('switch-on'));
        }
    </script>
{% endblock %}
