{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">Мои дома</h3>
        <table class="table">
                <tbody>
                {% for house in user.houses %}
                    <tr>
                        <td><a href="{{ path('house_show', {'id': house.id}) }}">{{ house.name }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="3">Домов пока нет.</th>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="3"><a href="{{ path('house_new', {'id': app.user.id}) }}">Добавить новый дом</a></th>
                </tr>
                </tbody>
            </table>
    </div>
{% endblock %}
