{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">Мой профиль</h3>

        <table class="table">
            <tbody>
            <tr>
                <th>Адрес электронной почты</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Мои дома</th>
                <td>
                    <table class="table">
                        <tbody>
                        {% for house in user.houses %}
                            <tr>
                                <td><a href="{{ path('house_show', {'id': house.id}) }}">{{ house.name }}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <th colspan="3">Домов пока нет.</th>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="3"><a href="{{ path('house_new') }}">Добавить новый дом</a></th>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Мои устройства</th>
                <td>
                    <table class="table">
                        <tbody>
                        {% for house in user.houses %}
                            {% for device in house.userdevices %}
                                <tr>
                                    <td><a href="{{ path('user_device_show', {'id': device.id}) }}">{{ device.name }}</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th colspan="3"><a href="{{ path('user_device_new') }}">Добавить новое устройство</a></th>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
